.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.flagContainer{
  
    display:grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 10px;
   
    margin-bottom: 20px;
}
.flagContainer img{
 
    height: 20px;
    width: 50px;
    margin: 10px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
    .country-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .flagContainer{
        display: grid;
        grid-template-columns:repeat(10,1fr) ;
    }
}
@media screen and (max-width: 600px ) {
    .country-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
.visited{
    background-color: bisque;
}

